<?php
// Copy this file to env.php and fill the values for your AWS environment.
// Do not commit real passwords to a public repository.

define('VIAGO_DB_HOST', 'REPLACE_WITH_RDS_ENDPOINT');
define('VIAGO_DB_NAME', 'ViaGoDb');
define('VIAGO_DB_USER', 'viago_admin');
define('VIAGO_DB_PASS', 'REPLACE_WITH_DB_PASSWORD');
define('VIAGO_DB_PORT', 3306);
define('VIAGO_DB_SSL_CA', '/etc/pki/tls/certs/global-bundle.pem');

define('VIAGO_S3_BUCKET', 'viago-travel-image-bucket-1');
define('VIAGO_S3_REGION', 'ap-northeast-2');
// CloudFront domain only. Do not include https://
define('VIAGO_CF_DOMAIN', 'REPLACE_WITH_CLOUDFRONT_DOMAIN');

// The app is designed to run under /travel_review.
define('VIAGO_BASE_PATH', '/travel_review');

// Amazon Comprehend 기반 광고성 게시글 필터링
define('VIAGO_COMPREHEND_ENABLED', 'true');
define('VIAGO_COMPREHEND_REGION', 'ap-northeast-2');
define('VIAGO_AD_SCORE_THRESHOLD', 50);


// Amazon Rekognition 기반 이미지 모더레이션
// Rekognition DetectModerationLabels는 JPG/JPEG/PNG 이미지를 대상으로 사용합니다.
define('VIAGO_REKOGNITION_ENABLED', 'true');
define('VIAGO_REKOGNITION_REGION', 'ap-northeast-2');
define('VIAGO_REKOGNITION_MIN_CONFIDENCE', 70);
define('VIAGO_IMAGE_BLOCK_THRESHOLD', 85);
define('VIAGO_IMAGE_FLAG_THRESHOLD', 70);
